.sidebar  {
  width: 160px;
  float: left;
  padding:5px;
  margin:0px;
  background-color: rgb(240, 240, 240);
  margin-top: 0px;
  border-right: solid 1px lightblue;
}
img {
  display: block;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}
.line {
  text-decoration: underline;
  margin-top: 10px;
}
.sidetext {
  margin: 10px;
}
